* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Headers///////////////////////////////////////////////////////////////////*/
header {}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(15, 15, 33, 0.80);;
    backdrop-filter: blur(5px);
}

;

.header__left {
    display: flex;
    align-items: center;
}

.header__left>img {
    /* border: 1px solid red; */
    width: 12vw;
    height: 5vh;
    padding: 5px;
    border-radius: 40px;
    margin: 7%;
}

.header__center {

    display: flex;
    justify-content: center;
    align-items: center;
}

/*/////////////////////////////////////////////////////////////*/


.search_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

}

.search_header__input {
    font-family: inherit;
    font-size: 16px;
    background-color: #464444c7;
    border: solid 0.5px #525252;
    color: #ffffff;
    padding: 0.7rem 1rem;
    border-radius: 25px;
    width: 50vw;
    height: 3.5vh;
    transition: all ease-in-out 0.5s;
    margin-right: -2rem;
    opacity: 1;
    text-align: center;
}

.search_header__input:hover,

.search_header__input:focus {
    box-shadow: 0 0 1em #da424213;
}

.search_header__input:focus {
    outline: none;
    background-color: #0a0a0aad;
}

.search_header__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #5e5e5e;
}

.search_header__input:focus+.search-header__button {
    background-color: transparent;
}

.search_header__button {
    border: none;
    background-color: transparent;
    margin-top: 0.1em;
}

.search_header__button:hover {
    cursor: pointer;
}

.search_header__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #3a3a3a;
}


/*////////////////////////////////////////////////*/


.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__right>button {
    width: 7vw;
    height: 3.5vh;
    border-radius: 40px;
    margin: 3%;
    background: none;
    color: #ffffff;
}