* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Headers///////////////////////////////////////////////////////////////////*/
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(15, 15, 33, 0.80);;
    backdrop-filter: blur(5px);
    height: 10vh
}

;

.header__left {
    display: flex;
    align-items: center;
}

.header__left>img {
    /* border: 1px solid red; */
    width: 13vw;
    height: 8vh;
    padding: 5px;
    border-radius: 40px;
    margin: 7%;
}


.logo {
    width: 100%;
object-fit:contain;
}

.header__center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
}