.container2{
    width: 11vw;
    height: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileimg{
    width: 70%;
    height: 100%;
    border-radius: 100%;
}

.but{
    transform: translateY(200%);
}