.dadForm{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    width: 60%;
    height: 51rem;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.625rem;
    border: 1px solid #fff;
    background: rgba(15, 15, 33, 0.8);
    backdrop-filter: blur(2px);
}

.divTitle{}

.title{
    display: flex;
    width: 100%;
    height: 8.625rem;
    flex-direction: column;
    justify-content: center;
    position: absolute;
  left: 0rem;
  
  top: 3rem;
    color: #fff;
    text-align: center;
    font-family: 'Sportrop';
    font-size: 4rem;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-decoration-line: underline;
}

.form{
    display: flex;


    width: 29.5rem;
    flex-direction: column;
    align-items: center;
    gap: 3.4375rem;
    position: absolute;
    left: 22rem;
    bottom: 3.6875rem;
}

.divDad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: -27rem;
    gap: 0.6rem;
}

.divEmail{}

.labelEmail{}

.inputEmail{
    display: flex;
    width: 100%;
    height: 3.8125rem;
    padding: 1.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: 1px solid #fff;
    background: #0f0f21;
    backdrop-filter: blur(10.949999809265137px);
    color: #686565;
    text-align: center;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.divCode{}

.labelCode{}

.textRecover{
    display: flex;
    width: 100%;
    height: 3.8125rem;
    padding: 1.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: 1px solid #fff;
    background: #0f0f21;
    backdrop-filter: blur(10.949999809265137px);
    color: #686565;
    text-align: center;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.divNewPass{}

.labelNewPass{}

.inputNewPass{
    display: flex;
    width: 100%;
    height: 3.8125rem;
    padding: 1.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: 1px solid #fff;
    background: #0f0f21;
    backdrop-filter: blur(10.949999809265137px);
    color: #686565;
    text-align: center;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.divrRepit{}

.labelRepit{}

.inputRepit{
    display: flex;
    width: 100%;
    height: 3.8125rem;
    padding: 1.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: 1px solid #fff;
    background: #0f0f21;
    backdrop-filter: blur(10.949999809265137px);
    color: #686565;
    text-align: center;
    font-family: Poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.boton{
    display: flex;
    width: 13.3125rem;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins-Regular';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 0.625rem;
    border: 1px solid #FFF;
    background: #0F0F21;
    backdrop-filter: blur(10.949999809265137px);
}

.error{
    flex: 1 0 0;
    color: #e42f2f;
    text-align: center;
    font-family: 'Poppins-Bold';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    bottom: 210%;
}

label {
    flex: 1 0 0;
    color: #686565;
    text-align: center;
    font-family: 'Poppins-Regular';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  

