@font-face {
    font-family: 'Sportrop';
    src: url('../../assets/fonts/Sportrop.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.Topic__list {
    /* border: 1px solid brown; */
    margin: 0px;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    font-family: 'Sportrop';
    justify-content: center;
    flex-direction: column;
    font-size: 3vw;
    backdrop-filter: blur(2.5px);
    border-radius: 30px;
    
}




.Topic {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    width: 100%;
    height: 10vh;
    margin: 2%;

}

.Topic1{
    border: 1px solid #7AE3EF;
    color: #7AE3EF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    width: 100%;
    height: 10vh;
    margin: 2%;
    border-radius: 25px;
}
.Topic1:hover {
    outline: none;
    border-color:#7AE3EF;
    box-shadow: 0 0 10px #7AE3EF;
}


    .Topic2{
        border: 1px solid #F09;
    color: #F09;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    width: 100%;
    height: 10vh;
    margin: 2%;
    border-radius: 25px;
}
.Topic2:hover {
    outline: none;
    border-color: #F09;
    box-shadow: 0 0 10px #F09;
}

.Topic3{
    border: 1px solid #F9EE07;
    color: #F9EE07;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    width: 100%;
    height: 10vh;
    margin: 2%;
    border-radius: 25px;}
.Topic3:hover {
    outline: none;
    border-color: #F9EE07;
    box-shadow: 0 0 10px #F9EE07;
}

.Topic4{
    border: 1px solid #8BEC14;
    color: #8BEC14;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    width: 100%;
    height: 10vh;
    margin: 2%;
    border-radius: 25px;}
.Topic4:hover {
    outline: none;
    border-color: #8BEC14;
    box-shadow: 0 0 10px #8BEC14;
}

.Topic5{
    border: 1px solid #CD0636;
    color: #CD0636;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    width: 100%;
    height: 10vh;
    margin: 2%;
    border-radius: 25px;}

.Topic5:hover {
    outline: none;
    border-color: #CD0636;
    box-shadow: 0 0 10px #CD0636;
}