.paQueElContenidoEsteDebajoDelHeader {
    margin-top: 36px; /* Ajusta el margen superior para evitar que el contenido principal se solape con el encabezado fijo */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido en el eje transversal (vertical) */
    justify-content: center; /* Centra el contenido en el eje principal (horizontal) */
    /* padding: 20px; Espaciado interno del contenido principal */
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0%;
}