@import "./normalize.css";

@font-face {
    font-family: 'Sportrop';
    src: url('../../assets/fonts/Sportrop.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../../assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    cursor: url('../assets/cursorE.svg'), auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    display: grid;
    min-height: 100vh;
    background-image: url('../assets/fondoB.png');  
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



